@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.header-main-div {
  width: 1220px;
  height: 65px;
  margin: 53px 350px;
  gap: 195px;
  justify-content: center;
  display: flex;
}
.logo-conteiner {
  display: flex;
  align-items: center;
}
.logo {
  width: 28px;
  height: 29px;
}
.logo-parag {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #37393f;
}
.lll {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 30px;
  color: #6b77e5;
}
.nav-conteiner {
  width: 825px;
  height: 65px;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #37393f;
}
.nav-bar {
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 22px;
  color: black;
  align-items: center;
}
.get-consulting {
  width: 184px;
  height: 65px;
  gap: 10px;
  padding: 21px 35px 22px 35px;
  background-color: #6b77e5;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  align-items: center;
}

/* main first conteiner */
.first-conteiner {
  width: 1220px;
  height: 510px;
  margin-top: 136px;
  margin-left: 350px;
  gap: 41px;
}
.work-conteiner {
  width: 283px;
  height: 86px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.work-orocess {
  width: 119px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #37393f;
  text-align: center;
  margin-left: 550px;
}
.how-work {
  width: 283px;
  height: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #37393f;
  margin-left: 468px;
}
.make-3divs {
  width: 1220px;
  height: 383px;
  gap: 31px;
  margin-top: 41px;
  display: flex;
  text-align: center;
}
.dives3 {
  width: 386px;
  height: 386px;
  background-color: #f4f4f4;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  align-items: center;
  color: #37393f;
  margin-top: 58px;
}
.paragrap-appoiintment {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #7d7d7d;
  margin-top: 16px;
}
.testimonials {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: 111px;
  height: 22px;
  color: #6b77e5;
  margin-top: 37px;
  margin-left: 137px;
}
.around {
  background-color: #40ddb6;
  width: 72px;
  height: 72px;
  margin-top: 10px;
  border-radius: 50%;
  /* justify-content: center; */
  margin-left: 157px;
  position: relative;
}
.img-icon {
  position: absolute -50% -50%;
  margin-top: 10px;
}
.purpl {
  background-color: #6b77e5;
}

/* second conteiner */
.second-conteiner {
  background-image: url(../image/background.png);
  width: 100%;
  height: 557px;
  margin-top: 60px;
  margin-left: -2px;
  position: relative;
  justify-content: center;
  text-align: center;
}
.prezentation {
  width: 511px;
  height: 270px;
  margin-top: 143px;
  margin-left: 705px;
  gap: 47px;
  position: absolute;
  justify-content: center;
}
.short-video {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #37393f;
}
.our-oresentation {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #37393f;
  margin-top: 16px;
}
.channels {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-top: 21px;
}

.second-icon {
  width: 64px;
  height: 64px;
  position: relative;
  align-items: center;
  margin-left: 223px;
  margin-top: 47px;
}
.img-second-icon {
  width: 20px;
  height: 30px;
  color: #ffffff;
  position: absolute -50% -50%;
  margin-top: 15px;
  margin-left: 5px;
}

/* third section */
.third-section {
  width: 1220px;
  height: 659px;
  margin-top: 130px;
  margin-left: 348px;
  gap: 41px;
}
.meet {
  width: 348px;
  height: 48px;
  margin-top: 16px;
  margin-left: 436px;
}
.imag-persons {
  display: flex;
  gap: 40px;
  margin-top: 41px;
}
.divs3-with-img {
  width: 386px;
  height: 532px;
  margin-bottom: 131px;
}
.natasha {
  background-image: url(../image/1.png);
}
.david {
  background-image: url(../image/2.png);
}
.madeleine {
  background-image: url(../image/3.png);
}
